p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
  margin: 2px;
}

.Scoreboard {
  text-align: center;
  background-color: rgba(2555,255,255,0.0);
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  overflow:hidden;
}

/* Boilerplate*/
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 400px;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Scoreboard */
.main-container {
  display: table;
  table-layout: fixed;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(245,246,246); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(245,246,246,1) 0%, rgba(219,220,226,1) 10%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 90%, rgba(245,246,246,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 10%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 90%,rgba(245,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 10%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 90%,rgba(245,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=1 ); /* IE6-9 */
}

.Sidebar-left, .Sidebar-right {
  display: table-cell;
  width: 20%;
  height: 700px;
  color: white;
}

.Sidebar-left div, .Sidebar-right div {
  display: inline-block;
}

.Sidebar-left {
  background: rgb(32,55,49); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(32,55,49,1) 42%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(32,55,49,1) 42%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(32,55,49,1) 42%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#203731', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  box-shadow: 15px -15px 40px #222;
}

.Sidebar-right {
  background: rgb(0,34,68); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0,34,68,1) 40%, rgba(176,183,188,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,34,68,1) 40%,rgba(176,183,188,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,34,68,1) 40%,rgba(176,183,188,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002244', endColorstr='#b0b7bc',GradientType=0 ); /* IE6-9 */
  box-shadow: -15px -15px 40px #222;
}

.center-board {
  display: table-cell;
  width: 60%;
  height: 700px;
  color: white;
  text-shadow: -1px 0 #444, 0 1px #444, 1px 0 #444, 0 -1px #444;
}

.Clock {
  margin: 10% 20px 20px;
  font-size: 2.5em;
  font-family: 'Cousine', sans-serif;
}

.score-box {
  display: block;
  text-align: center;
  height: auto;
  width: auto;
  font-family: 'Kanit';
  margin: 10px 50px;
}

.Score-home, .Score-away {
  display: inline-block;
  margin: 10px 10px;
  height: 20px;
  width: auto;
}

.home-away {
  font-size: 1em;
  width: auto;
}

.points {
  font-size: 4em;
  text-align: center;
  height: auto;
  width: auto;
  margin: 25px 50px;
  line-height: 0.35em;
  text-shadow: 0px 10px 50px #222;
}

.Participant-Label {
  font-size: 1.75em;
}

.versus {
  display: inline-block;
  margin: 20px;
  height: 50px;
  font-size: 2.75em;
}

.Info-Panel {
  margin: 40px 20px;
  width: auto;
}

.Info-Panel h2 {
  font-family: 'Bungee Inline';
}

.Info-Panel p {
  font-family: 'Bungee Inline';
  font-size: 1.75em;
}

.info-container {
  display: inline-block;
  height: auto;
  width: 70%;
}

.info-container > div {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  height: 125px;
  width: 16%;
  vertical-align: top;
}

.yard-line h1 {
  font-family: 'Bungee Inline';
  font-size: 3em;
}

.down p, .togo p {
  font-size: 1.5em;
}

.down span, .togo span, .yard-line p {
  font-size: .9em;
}

#up-arrow, #down-arrow {
  font-size: 0.35em;
  margin: 2px;
  padding: 20px;
}

#small {
  font-size: 0.35em;
}

.fa-xs {
  font-size: 0.5em;
  margin: 2px;
}

.Sidebar-left h1, .Sidebar-left h4, .Sidebar-right h1, .Sidebar-right h4{
  font-family: Verdana;
  text-shadow: 0px 10px 50px #222;
}

.Sidebar-left h1, .Sidebar-right h1{
  font-size: 3.5em;
}

.Sidebar-left h4, .Sidebar-right h4{
  font-size: 1.4em;
}

.team-name-container{
  top: 100px;
  height: 20%;
  width: 90%;
  position: relative;;
}

.team-logo {
  height: auto;
  width: 100%;
  overflow: hidden;
}

.Sidebar-left .team-logo img{
  height: 768px;
  width: 768px;
  top: 15%;
  left: -150px;
  position: relative;
  transform: rotate(15deg);
}

.Sidebar-right .team-logo img{
  height: 768px;
  width: 768px;
  top: 15%;
  right: 150px;
  position: relative;
  transform: rotate(-15deg);
  transform: scaleX(-1);
}



